@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Luxurious+Roman&family=Neonderthaw&family=Open+Sans:wght@300;400;500;600&family=PT+Sans&family=Poppins:wght@200;300;500&family=Roboto:wght@300&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    color: #222;
    line-height:64px ;
}
h2{
    font-size: 46px;
    color: #222;
    line-height:50px ;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .3s;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #e3e6f3;
    box-shadow: 0 15px  5px  5px rgba(0, 0, 0, .06);
}
.section-p1{
    padding: 40px 80px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
} ul li{
    padding: 0 20px;
    list-style: none;
    position: relative;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #1a1a1a;
    text-transform: capitalize;
    transition: .5s;
}
ul li a:hover, .active{
    color: #088178;
}
ul li a.active::after{
    content: "";
width: 40%;
height: 2px;
background-color: #088178;
position: absolute;
bottom: -4px;
left: 20px;
 transition: .5s;
}
ul li a:hover::after{
    width: 50%;
}
#hero{
background-image: url("/img/hero4.png");
height: 90vh;
width: 100%;
background-position: top 25% right 0;
background-size: cover;
padding: 0 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
  color: #088178;
}
#hero button{
    background-image: url("button.png");
    background-color: transparent;
    border: 0;
    color: #088178;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, .03);
    border: 1px solid #cce7dc;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
}
.fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62,221, .1);
}
.fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    text-transform: capitalize;
}
.fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.fe-box :nth-child(2)h6{
    background-color: #4c5a44;

}
.fe-box:nth-child(3)h6{
    background-color: #20aae6;
}
.pro-container{
width: 80%;
margin: auto;
padding-bottom: 50px;
display: flex;
justify-content: space-between;
padding-top: 20pxs;
flex-wrap: wrap;
}
#product1{
    text-align: center;
}
#product1 .pro{
  position: relative;
  margin-top: 30px;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s ease;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .02);
}

#product1 .pro .cc{
    width: 100%;
    border-radius: 20px;
    
}
#product1 .pro:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.199), -10px -10px 30px rgba(0, 0, 0, 0.199);
}
#product1 .pro .des{
    padding: 10px 0;
    text-align: start;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
.stars img{
    width: 20px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro i{
    width: 35px;
    height: 35px;
    line-height:15px;
    border-radius: 50px;
    background-color: #e8f6ea;
    padding: 7px;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.section-margin{
    margin: 40px 0;
}
